section#industries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
section#industries h1 {
    width: 100%;
}
div.industry {
    background-color: var(--secondary);
    box-shadow: 0.2em 0.25em .5em 0.1em var(--dark);
    text-align: center;
    width: 25%;
    margin: 3%;
  }
div.industry nav ul li {
    width: 15%;
    text-align: center;
}
  